*Python Challenge 1 : *

You are given the firstname and lastname of a person on two different lines. Your task is to read them and print the following:

output example : Hello Albert Einsteen! You just delved into python.

In [ ]:
first_name = "Albert"
last_name = "Einsteen"
print("Hello",first_name,last_name +"!","You just delved into python.")

Hello Albert Einsteen! You just delved into python.

*Python Challenge 2 : *
Given an integer n, perform the following conditional actions:

If  n is odd, print Weird
If  n is even and in the inclusive range of  2 to 5 , print Not Weird
If  n is even and in the inclusive range of 6 to 20 , print Weird
If  n is even and greater than 20, print Not Weird

In [ ]:
def check_weirdness(n):
    if n % 2 != 0:
        print("Weird")
    else:
        if n in range(2, 6):
            print("Not Weird")
        elif n in range(6, 21):
            print("Weird")
        else:
            print("Not Weird")

check_weirdness(3)
check_weirdness(4)
check_weirdness(6)
check_weirdness(22)

Weird
Not Weird
Weird
Not Weird

3.Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
radius = float(input("Enter the radius of circle \n"))
area = 3.14*radius*radius
print("Area of the circle is",area)

Enter the radius of circle
3
Area of the circle is 28.259999999999998

4.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name = input("Enter the name:\n")
roll_no = input("Enter the roll number:\n")
mark = input("Enter the  mark:\n")
print("Name:"+name,"Roll No:"+roll_no,"Mark"+mark)

Enter the name:
Anisha
Enter the roll number:
21
Enter the  mark:
78
Name:Anisha Roll No:21 Mark78

5.Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number

In [ ]:
list = (12, 3, 47, 10 )
largest_number = max(list)
print(f"{largest_number} is the largest number")

47 is the largest number

6.Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [17]:

previous_number = 0
for current_number in range(1, 11):

    current_sum = current_number + previous_number
    print(f"Current Number: {current_number}, Previous Number: {previous_number}, Sum: {current_sum}")
    previous_number = current_number

Current Number: 1, Previous Number: 0, Sum: 1
Current Number: 2, Previous Number: 1, Sum: 3
Current Number: 3, Previous Number: 2, Sum: 5
Current Number: 4, Previous Number: 3, Sum: 7
Current Number: 5, Previous Number: 4, Sum: 9
Current Number: 6, Previous Number: 5, Sum: 11
Current Number: 7, Previous Number: 6, Sum: 13
Current Number: 8, Previous Number: 7, Sum: 15
Current Number: 9, Previous Number: 8, Sum: 17
Current Number: 10, Previous Number: 9, Sum: 19

7.Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [ ]:
num = (10, 20,33,46,55)
for number in num:
  if number % 5 == 0:
    print(number, end=", ")

10, 20, 55,

8.Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    elif num <= 3:
        return True
    elif num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def main():
    try:
        num = int(input("Enter the number: "))
        if is_prime(num):
            print(num, "is a prime number.")
        else:
            print(num, "is not a prime number.")
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

if __name__ == "__main__":
    main()

Enter the number: 3
3 is a prime number.

9.Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [ ]:
def reverse_list(lst):
    reversed_lst = []
    for i in range(len(lst) - 1, -1, -1):
        reversed_lst.append(lst[i])
    return reversed_lst

def main():
    try:
        input_str = input("Enter the list of numbers separated by commas: ")
        input_list = [int(x) for x in input_str.split(",")]
        reversed_list = reverse_list(input_list)
        print("Reversed list:", ",".join(map(str, reversed_list)))
    except ValueError:
        print("Invalid input. Please enter numbers separated by commas.")

if __name__ == "__main__":
    main()

Enter the list of numbers separated by commas: 10,40,30,70
Reversed list: 70,30,40,10

10.Write a Python program to print the following pattern.
*
**
***
****

In [ ]:
def print_pattern(n):
    for i in range(1, n + 1):
        print("*" * i)

def main():
    try:
        n = int(input("Enter the number of rows for the pattern: "))
        print("Pattern:")
        print_pattern(n)
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

if __name__ == "__main__":
    main()

Enter the number of rows for the pattern: 3
Pattern:
*
**
***

11.Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
a = 34
b = 12
c = 7
if a>b and a>c:
  print(a)
elif b>c and b>a:
  print(b)
else:
  print(c)

34

In [16]:
def find_maximum(a, b, c):
    return max(a, b, c)

def main():
    try:
        numbers = input("Enter three numbers : ").split(",")
        num1, num2, num3 = map(int, numbers)
        maximum = find_maximum(num1, num2, num3)
        print("Maximum of the three numbers is:", maximum)
    except ValueError:
        print("Invalid input. Please enter three valid numbers \.")

if __name__ == "__main__":
    main()

Enter three numbers : 34,12,7
Maximum of the three numbers is: 34

12.Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
def print_pattern(n):

    for i in range(1, n + 1):
        print("*" * i)


    for i in range(n - 1, 0, -1):
        print("*" * i)

def main():
    try:
        n = int(input("Enter the number of rows for the pattern: "))
        print("Pattern:")
        print_pattern(n)
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

if __name__ == "__main__":
    main()

Enter the number of rows for the pattern: 10
Pattern:
*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

13. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
string = input("Enter a string value: ")
count = {}


for char in string:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1


print("Sample output:")
for char, count in count.items():
    print(f"{char}={count}", end=", ")

Enter a string value: character
Sample output:
c=2, h=1, a=2, r=2, t=1, e=1,

14.Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [15]:
def max_num(num1, num2, num3):
  max_number =max(num1,num2,num3)
  return max_number

input_str = input("Enter three numbers: ")
num1, num2, num3 = map(int, input_str.split(','))
maximum = max_num(num1,num2,num3)
print("Maximum of numbers:",maximum)

Enter three numbers: 34,12,7
Maximum of numbers: 34

15.Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base, exp):
    result = base ** exp
    return result


base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))

result = exponent(base, exp)
print("Result:", result)

Enter the base: 2
Enter the exponent: 3
Result: 8

16.Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36

In [ ]:
def sum(n):

  number=0
  for i in range(1,n):
    if i%2 ==0:
      number = i**3

      return number

num = int(input("Enter a number: "))
result = sum(num)
print("sum of cubes",result)

Enter a number: 3
sum of cubes 8

17.Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:

for i in range(1,11):
  if i%2 == 0:
    print("Fizz")
  elif i%5 ==0:
    print("Buzz")
  elif i%2 == 0 and i%5 ==0:
    print("FizzBuzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
Fizz

18.Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [11]:
def frequent_no(numbers):
  frequent_num = {}

  for num in numbers:
    if num in frequent_num:
      frequent_num[num] +=1
    else:
      frequent_num[num] =1

  max_frequency = max(frequent_num .values())
  frequent_item = [num for num,freq in frequent_num.items() if freq ==max_frequency]
  return frequent_item

numbers = input("Enter a list of numbers separated by commas: ").split(',')
numbers = [int(num) for num in numbers]
result = frequent_no(numbers)
print("Most frequent items: ",result)

Enter a list of numbers separated by commas: 2,3,4,2,5,2
Most frequent items:  [2]

19.Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [8]:
def sum_of_squares(n):
  squares = sum(num** 2 for num in n)
  return squares


number = input("Enter numbers by commas: ").split(",")
number = list(map(int, number))
result = sum_of_squares(number)

print("Sum of numbers:",result)

Enter numbers by commas: 2,1,3,1
Sum of numbers: 15

20.Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [23]:
for i in range(1,16):
  if i%2 == 0:
    print(f"{i} is even")
  else:
    print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

21.Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [25]:
def fahrenheit_celcius(f):
    celcius = (f-32)*5/9
    return celcius

def celcius_fahrenheit(celcius):
    f = (celcius*9/5)+32
    return f

temperature_fahrenheit =float(input("Temperature in fahrenheit: "))
temperature_celcius = fahrenheit_celcius(temperature_fahrenheit)
print("Temperature in Celcius: ",temperature_celcius)

Temperature in fahrenheit: 41
Temperature in Celcius:  5.0

22. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [26]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)


number = int(input("Enter a non-negative integer: "))
result = factorial(number)
print("Factorial:", result)

Enter a non-negative integer: 3
Factorial: 6